/*
Theme Name: ECHER CUSTOM THEME
Text Domain: ECHER GROUP
Version:1
Description: Tema Criado em parceria com a Primata social, desenvolvido por Joao Antonio Rocco (joao.a.rocco@gmail.com)
Tags: responsive,wordpress theme, bootstrap, woocommerce custom theme
Author: Joao Antonio
Author URI: https://roccowebdev.000webhostapp.com/
Theme URI:  https://roccowebdev.000webhostapp.com/
*/

html{
	scroll-behavior:smooth;
}

/************ GLOBALS ***************/
body{font-family: 'Montserrat', sans-serif!important;}

a:active, a:focus {
  outline: 0!important;
   -moz-outline-style: none!important;
}

button:active, button:focus {
  outline: 0!important;
   -moz-outline-style: none!important;
}

.uppercase {
text-transform: uppercase;
}

.gray {
color:#707070;
}
.white {
color:#fff;
}

.blue {
color:#184183;
}
.light{
font-weight:200;
}
.bold {
font-weight:700;
}
.mt-10{
margin-top:10%
}
.btn-buscar {
background-color: #EEBF31;
box-shadow: 3px 3px 0px #00000029;
color: #184183;
font-weight:700!important;
	border-radius: 8px;
font-size:1.2rem;
}

.btn-buscar:hover{
color:  #184183;
background-color: #fff;
text-decoration:none;
}

.bg-gray{
 background-color:#F1F0F0;
}

.bg-gray-linear{
background: linear-gradient(to bottom, #fff 0%, #fff 50px, #E9E9E9 50px, #E9E9E9 50px);
}
.hide-desk{
display:none;
}

.banner-empreendimento {
position:relative;
}
/*********** FIM GLOBALS ***********/


/**************** NAV ****************/
.custom-logo{
max-width: 70%;
height: auto;
}

.nav-admin {
background-color:#F2F2F2;
background: linear-gradient(to right, #F2F2F2 0%, #F2F2F2 70%, #2E8FCE 0);
}
.nav-admin .ligue{
   margin-top:-5px;
}
.nav-admin .ligue span.gray {
font-size:80%;
position: relative;
top:8px;
}
.nav-admin .ligue .bold {
font-size:1.5rem;
}
.ligue-busca #search-form {
padding-top:0.6rem;
}


.corretor {
	background-color:#E7E7E7;
}

.compramos-terreno{
background-color:#2E8FCE;
}
.trabalhe {
	background-color:#F2F2F2;
}

.cliente {
	background-color:#184183;
}
.navbar {
padding:0!important;
}
.compramos-terreno a:hover, .cliente a:hover{
color:#fff!important;
}

/************** NAV ENDS **********/

/********* FORM BANNER HOME *******/
.box-form {
	position:relative;
	bottom:120px;
	background-color:#fff;
	border-radius:8px;
}
.box-form img{
	width:200px;
}
.box-form form {
margin-top:0.5rem;
}
.atendimento {
border-radius:0 8px 8px 0;
}
/********* FORM BANNER HOME ENDS *******/
/****** EMPREENDIMENTO HOME *****/
.box-empreendimento {
box-shadow: 0px 3px 6px #00000029;
border-radius: 18px;
background-color:#fff;
}

.emp-foto {
position:relative;
}
.emp-foto span{
position:absolute;
padding:0.2rem 0.5rem;
background-color: #EEBF31;
color:#184183;
font-weight:700;
z-index:1;
}
.emp-foto img {
width:100%;
height:100%;
object-fit:cover;
}

.col-direita {
padding-top:1.5rem;
}

.col-direita .yellow-price{
color:#EEBF31;
font-weight:700;
font-size:1.2rem;
}

.col-direita h6 {
color:#184183;
margin-bottom:0;
}
.col-direita small{
color:#707070;
}
.mn-2 {
margin-top:-6px;
}
.col-direita .features span{
font-size:1rem;
color:#707070;
}
.btns-emp {
margin-top:10%;
}

.bt-blue {
background-color:#2E8FCE;
padding:0.5rem 0;
border-radius:8px;
text-align:center;
}
.bt-blue a {
color:#fff;
font-weight:700;
font-size:0.8rem;
}

.bt-yellow {
background-color:#EEBF31;
padding:0.5rem 0;
border-radius:8px;
text-align:center;
}
.bt-yellow a {
color:#184183;
font-weight:700;
font-size:0.8rem;
}

.btn-conhecer {
display:block;
color:#fff;
padding:0.5rem 0;
border-radius:8px;
margin:1rem 0;
width:100%;
font-weight:700;
background-color:#707070;

}


.container-img {
background-color:#000;
position:relative;
border-radius:18px 18px 0 0;
}


.container-img .status {
background-color:#EEBF31;
color:#184183;
font-weight:700;
font-size:1rem;
padding:5px 10px;
position:absolute;
z-index:1;
left:0px;
border-radius:18px 0 0 0;
}
.container-img .status.right {
	right:0;
left:inherit;
border-radius:0 18px 0 0;
}

.container-img .status .h-show{
 display: none;
}
.container-img a:hover .status .h-show{
  display: inline-block;
}

.container-img .lupa {
position:absolute;
left:45%;
font-size:2.5rem;
top:35%;
color:#fff;
display:none;
}
.container-img a:hover img{
opacity:0.2;
}

.container-img a:hover .lupa{
display:block;
}

.link-em {
background-color: #484747;
box-shadow: 3px 4px 0px #00000029;
border-radius: 8px;
padding:1rem;
color:#fff;
font-weight:500;
display: block;
border:1px solid;
}

.link-em:hover {
color: #484747;
background-color:#fff;
border:1px solid;
text-decoration:none;
}
/***** EMPREENDIMENTOS HOME ENDS ******/
/********** SIMULACAO HOME ************/
.simulacao .btn-buscar {
	padding:0.8rem 1.5rem;
}
.simulacao .btn-buscar img {
	width:35px;
	margin-right:10px;
}

.simulacao {
background-image:url(/wp-content/themes/echer/dist/images/background.png);
background-repeat:no-repeat;
background-size:cover;
height:400px;
}

.degrade {
background: transparent linear-gradient(241deg, #00000000 0%, #0044859E 56%, #004485 100%);
height:100%;
}
.bg-gray{
	background-color:#F1F0F0;
}
.bg-blog-video {
position:relative;
box-shadow: 0px 3px 6px #00000029;
border-radius: 18px;
top:-30px;
background-color:#fff;
}


.section-display:not(.active) {
  display: none;
}
/********** SIMULACAO HOME ENDS ***********/
/*********** BLOG E VIDEO ****************/
.thumbs-youtube i{
font-size:3rem;
color:#FF0000;
}
.thumbs-youtube .b-radius {
border-radius:8px;
}
.thumbs-youtube .youtube {
font-size:0.8rem
}
.container-vid {
background-color:#000;
position:relative;
border-radius:9px;
}

.container-vid i {
color:#fff;
position:absolute;
font-size:1.8rem;
top:35%;
left:35%;
z-index:1;
display:none;
}
.thumbs-youtube a:hover .container-vid img{
opacity:0.5;
}
.thumbs-youtube a:hover .container-vid i {
display:block;
}

.thumbs-youtube .container-vid.active img{
opacity:0.5;
}
.thumbs-youtube .container-vid.active i {
display:block;
}
.box-blog {
border: 1px solid #E3E3E3;
border-radius: 18px;
position:relative;
margin-bottom:1rem;
}
.box-blog .category {
position:absolute;
z-index:1;
top:0;
left:0;
border-radius:18px 0 0 0 ;
background-color:#EEBF31;
}
.box-blog .category ul{
list-style:none;
padding:10px 10px 0 ;
height:25px;
}
.box-blog .category li a{
color:#184183;
font-weight:700;
}

.box-blog .col-md-6 img{
border-radius:18px;
object-fit:cover;
height:240px;
}
.box-blog .col-md-6 h2 {
font-size:0.98rem;
}
.box-blog .col-md-6 p, .box-blog .col-md-6 a{
	font-size:0.9rem
}

.box-blog .icons-b span{
font-size:0.6rem;
padding-top:0.6rem;
display:inline-block;
}
.box-blog .icons-b span i {
margin:0 5px;
}
.box-form-blog h5 {
	font-size:1rem;
}

.box-form-blog {
background-color:#fff;
padding:1rem;
position:absolute;
bottom:180px;
border-radius:8px;
}

.btn-buscar-blog {
background-color: #EEBF31;
box-shadow: 3px 3px 0px #00000029;
border:none;
color:#184183;
font-weight:700;
height:100%;
}


/*********** BLOG E VIDEO ENDS **********/
/************** TOUR 360 *****************/
.bg-tour360 {
background-image:url(/wp-content/themes/echer/dist/images/eva_360.png);
background-repeat:no-repeat;
background-size:cover;
background-position:center;
height:500px;
color:#fff;
}

.bg-tour360 img{
	width:120px;
	margin-bottom:1rem;
}
.bg-tour360 .container {
padding-top:6%;
}
.bg-tour360 h3{
font-weight:700;
}

/*********** TOUR 360 ENDS ********/
/********** DEPOIMENTOS *******/
#carouselDepo .carousel-indicators {
bottom:-70px;
margin-bottom:2rem;
z-index:9!important;
}

#carouselDepo .carousel-indicators li{
background-color:#AAAAAA;
width:10px;
height:10px;
border-radius:100%;
}

#carouselDepo .carousel-indicators .active{
	background-color:#2E8FCE;
}
.box-depo img{
border: 7px solid #2E8FCE;
border-radius:100%;
width:112px;
margin-top:-60px;
}

.box-depo {
margin-top:60px;
text-align:center;
box-shadow: 0px 3px 6px #00000029;
border: 1px solid #C4C4C4;
border-radius: 16px;
padding:0 2rem!important;
height:340px;
}
.box-depo h2 {
font-size:1.7rem;
color:#707070;
}
.box-depo h3 {
color:#EEBF31;
font-size:1.2rem;
}
/********** DEPOIMENTOS ENDS **********/
/*************** FOOTER ****************/
div.wpcf7-response-output {
color:#fff!important;
border:none!important;
}
span.wpcf7-not-valid-tip {
color:#fff!important;
margin-top:4px;
}
div.wpcf7-mail-sent-ok {
border:none!important;
}
.tel-unidade {
color:inherit;
font-size:inherit;
}

.newsletter {
background-color: #2E8FCE;
border-radius: 18px;
}

.btn-news {
border:none;
background-color:#184183;
color:#fff;
box-shadow: 2px 2px 0px #33260033;
border-radius: 8px;
padding:0.5rem 2rem;
}
.btn-news:hover {
color:#184183;
background-color:#fff;
}
.form-news{
color:#fff;
}
.form-news small{
font-size:0.65rem;
}
.form-news h2 {
font-weight:700;
font-size:2.4rem;
}

.linkSocial i {
	margin-bottom:10px;
    color: #fff;
    font-size: 2rem;
    margin-left: 0.5rem;
    width: 50px;
    height: 50px;
    padding-top: 8px;
    text-align: center;
    background-color: #184183;
	border-radius:8px;}

.linkSocial:hover i {
background-color:#2E8FCE;
text-decoration:none;
}

.copy {
font-size:0.8rem;
font-style:italic;
padding-top:2.5rem;
}

footer {
color:#7C7C7C;
}
.unidades h5 {
font-size:0.8rem;
font-weight:700;
}
.unidades p {
font-size:0.7rem;
}


.bg-blue {
background-color:#184183;
}

.bg-yellow {
background-color:#EEBF31;
height:100%;
}




.fixed-bottom {
z-index:9!important;
}
footer {
margin-bottom:70px;
}

.bg-yellow {

}
.simu-footer img{
width:35px;
padding-top:0.4rem;
}
.simu-footer p {
color:#184183;
padding-bottom:0!important;
}

.links-f h6 {
font-size:0.8rem;
color:#C9C9C9;
}
.links-f:hover h6 {
color:#fff;
}
.simu-footer:hover {
background-color:#fff;
display:block;
height:100%;
text-decoration:none;
}
.links-f {
padding:1rem 0;
font-weight:700;
color:#EEBF31;
font-size:1rem;
display:block;
}
.links-f:hover {
color:#EEBF31;
background-color:#00366A;
text-decoration:none;
}
.links-f span i {
color:#fff;
font-size:1.4rem;
    padding-right:10px;}



/********* FOOTER ENDS ***********/

/******** PAGE EMPREENDIMENTO ***********/
.subtitles h5, .subtitles h6{
font-style:italic;
}
.banner-empreendimento {
height:500px;
background-size:100%;
  background-color:rgba(0,0,0,0.5);
    background-blend-mode: overlay;
background-repeat:no-repeat;
}
.banner-empreendimento h2 {
font-size:1.2rem;
}

      /********** SINGLE *********/
.banner-single-empreendimento {
background-repeat:no-repeat;
height:500px;
background-size:100%;
  background-color:rgba(0,0,0,0.5);
background-repeat:no-repeat;
    background-blend-mode: overlay;
}
.banner-single-empreendimento h2 {
font-size:1rem;
}


.nav-int {
background-color:#184183;
border-radius: 10px 10px 0 0;
position:relative;
top:-69px;
}
.nav-int a {
	color:#fff;
}


.nav-int .nav-interno{
padding:1.5rem 0;
}
.nav-int .nav-interno:hover{
padding:1.5rem 0;
background-color: #EEBF31;
	text-decoration:none;
color:#184183;
}

.nav-int .nav-interno.fst:hover {
border-radius:8px 0 0 0;
}
.nav-int .nav-interno.lst:hover {
border-radius:0 8px 0 0;
}   


.lancamento {
background: #FFFFFF;
box-shadow: 0px 3px 6px #00000029;
color:#707070;
}

.sobre .col-md-4 h3 {
background-color: #E7E7E7;
text-align:center;
letter-spacing: 4.56px;
font-size: 1.3rem;
color: #184183;
padding:0.5rem 0;
border-radius:10px 10px 0 0;
margin-bottom:0;
}

.sobre .lancamento h4 {
padding-top:1rem;
font-size:0.7rem;
text-align:center;
}

.sobre .preco p{
margin-left:10px;
font-size:0.9rem;
}

.sobre .preco span {
color:#184183;
font-weight:700;
font-size:1.8rem;
}

.lancamento a {
display:block;
text-align:center;
width:90%;
margin:10px auto;
text-decoration:none;
font-weight:600;
}

.btn-blue {
background-color: #184183;
box-shadow: 3px 3px 0px #7C7C7C59;
border-radius:5px;
padding:5px 0 4px;
color:#fff;
}

.btn-yellow {
background-color:#EEBF31;
box-shadow: 3px 3px 0px #7C7C7C59;
border-radius:5px;
padding:5px 0 4px;
border:none;
color: #184183;

}
.btn-blue:hover{
background-color:#fff;	
color: #184183;
text-decoration:none;
}
.btn-yellow:hover{
color:#EEBF31;
text-decoration:none;
background-color: #184183;
}

.lancamento p {
margin-left:10px;
font-size:0.8rem;
margin-bottom:5px;
}

.lancamento img {
margin:0 10px 20px;
}

.bg-blue-linear{
background: linear-gradient(to bottom, #fff 0%, #fff 50px, #184183 50px, #184183 50px);
}
.bg-azul-claro {
background-color:#4A76BD;
}

.item-dif {
background-color: #184183;
height:100%;
box-shadow: 6px 9px 8px #00000029;
border-radius: 8px;
color:#fff;
}

.item-dif {
padding:1.5rem 0;
}
.item-dif i {
font-size:2rem;
}
.item-dif h4 {
font-size:1.2rem;
margin-top:15px;
font-weight:200;

}

.map-responsive{
    overflow:hidden;
    position:relative;
    height:100%;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:71%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    border-radius:18px;
}

.gallery-hover {
	position:relative;
background-color:#000;

}

.gallery-hover i {
position:absolute;
top:45%;
left:45%;
z-index:1;
font-size:2.5rem;
display:none;
color:#fff;
}
.modal-body{
padding:0!important;
}

.gallery a:hover .gallery-hover img {
opacity:0.4;
}
.gallery a:hover .gallery-hover i {
display:block;
}

.bg-gray-linear-invertido {
background: linear-gradient(to top, #fff 0%, #fff 40px, #E9E9E9 40px, #E9E9E9 40px);
}

.box-corretor {
padding:2rem 0;
border-radius: 18px;
background-color:#2E8FCE;
}

.tab-nav .nav-link{
background-color:#E7E7E7!important;
color:#707070!important;
text-align:center;
position: relative;
bottom:-20px;
border-radius:18px 18px 0 0!important;
}
.tab-nav .nav-link:hover ,.tab-nav .nav-link.active {
color:#fff!important;
font-weight:700!important;
background-color:#2E8FCE!important;
height:60px;
position: relative;
bottom:0;
padding-top:22px;

}
.sobre-bairro {
margin:5rem 0 1rem;
}
.sobre-bairro p {
font-size:0.8rem;
}

.check-loc {
border-radius:8px;
padding-left:20px;
padding:0.5rem 0 0.1rem 1.5rem;
}
.stages h5 {
font-size:0.8rem;
font-weight:400;
}

.meter { 
    position: relative;
    background:#E7E7E7;
    border-radius: 8px;
    height: 30px;
text-align:center;
}

.meter > span {
    display: block;
    height: 100%;
    background-color: #184183;position: relative;
    overflow: hidden;
padding-top:3px;
color:#fff;
}

.related {
border: 1px solid #D8D8D8;
border-radius: 18px 18px 0px 0px;
padding-bottom:10px;
}
.container-img {
position:relative;
}
.container-img .caption{
position:absolute;
bottom:0px;
left:0;
padding-left:5%;
background-color:rgba(0,0,0,0.5);
width:100%;
}
.related .caption h3 {
font-size:1.2rem;
color:#fff;
}
.related .caption h4 {
font-size:0.8rem;
color:#fff;
}
.related img {
object-fit:cover;
height:320px;
border-radius: 18px 18px 0px 0px;

}
.related .features {
text-align:center;
height:40px;
padding-top:10px;
}
.features.bdr-right:after {
    content: '';
    height: 35px;
    width: 1px;
   background-color:#D8D8D8;
    position: absolute;
    right: 0px;
    top: 5px;
	display: block;}

.features span {
font-size:0.8rem;
}

.feature-price  {
margin-top:5px;
}
.feature-price span {
font-weight:700;
color:#184183;
display:block;
margin-top:8px;
font-size:0.9rem;
}
.feature-price .btn-yellow {
margin-top: 3px;
    display: block;
    padding: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 0.9rem;
}
    /******** SINGLE ENDS ******/

/*********** PAGE EMPREENDIMENTO ENDS *******/
/**** PAGE BLOG SINGLE POST ************/

.search-wrap-blog .form-control{
background-color:#F5F5F5;
color:#B3B3B3;
border-radius:8px;
}

.box-blog-page {
box-shadow: 0px 3px 6px #00000029;
position:relative;
border-radius: 18px;
margin-bottom:2rem;
}
.box-blog-page .icons-b span{
font-size:0.8rem;
margin: 0 5px;
}
.archive-page ul {
list-style:none;
}

.archive-page a {
color:#fff;
font-size:1.3rem;
}



.alm-btn-wrap .alm-load-more-btn{
background-color: #484747!important;
box-shadow: 3px 4px 0px #00000029!important;
border-radius: 8px!important;
padding:1rem!important;
padding-top:0.8rem!important;
color:#fff!important;
font-weight:500!important;
display: block!!important;
border:1px solid!important;
}

.alm-btn-wrap .alm-load-more-btn:hover{
color: #484747!important;
background-color:#fff!important;
}


.box-form-blog .btn-buscar-blog {
width:100%;
height:36px;
border-radius:8px;
}

 /****** SINGLE POST ********/
.single-blog {
position:relative;
}
.single-blog .bread {
position:absolute;
top:0;
left:0;
padding:0.2rem 1rem;
background-color: #EEBF31;
border-radius: 18px 0 0 0px;
}
.single-blog .category, 
.single-blog .category a {
color: #184183;
font-size:0.8rem;
font-weight:700;
}


/*************** COMMENTS ************/
#comments .form-control{
border: 1px solid #707070;
	border-radius: 8px;}

#comments .commentsubmit {
border:none;
box-shadow: 3px 3px 0px #7C7C7C59;
border-radius: 8px;
height:46px;
padding:0 1.4rem;
color:#fff;
font-weight:700;
background-color:#707070;
}

#comments .commentsubmit:hover {
color:#707070;
background-color:#F5F5F5;
}

#comments ul, #comments ol{
list-style:none
}
/******** COMMENTS ENDS ***********/

.icons-b.white span {
margin:0 10px;
}
.related-post {
border-radius: 18px;
position:relative;
margin-bottom:2rem;
border: 1px solid #E3E3E3;
border-radius: 18px;
}
.related-post .category {
position:absolute;
z-index:1;
top:0;
left:0;
border-radius:18px 0 0 0 ;
background-color:#EEBF31;
}
.related-post .category ul{
list-style:none;
padding:10px 10px 0 ;
height:25px;
}
.related-post .category li a{
color:#184183;
font-weight:700;
}

.related-post .col-md-5 img{
object-fit:cover;
height:100%;



}
.related-post .col-md-7 h2 {
font-size:1.2rem;
}
.related-post .col-md-6 p, a{
	font-size:0.9rem
}

.related-post .icons-b span{
font-size:0.8rem;
padding-top:0.6rem;
display:inline-block;
}
.related-post .icons-b span i {
margin:0 5px;
}
.off-sidebar {
box-shadow: 0px 3px 6px #00000029;
border-radius:18px;
background-color:#fff;
}

.off-sidebar #sidebar {
padding-left:1rem;
}

.off-sidebar h2 {
margin-top:2.2rem;
margin-bottom:1.5rem;
font-size:1.7rem;
text-align:center;
color:#707070;
font-weight:200;

}
.rpwwt-widget ul {
text-align:left!important;
padding:0 1rem!important;
}
.rpwwt-post-title {
font-weight:700;
color:#000;
}
.rpwwt-post-date {
font-size:0.7rem;
}
.widget-right ul{
list-style:none;
padding-left:0;
text-align:center;
}
.cat-item:before {
font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f078";
margin-right:10px;
background-color:#fff;
border-radius:100%;
padding: 0.3rem 0.38rem;

	
}
.off-sidebar ul{
padding-left:0.5rem;
padding-right:0.5rem;
}
.cat-item {
margin-bottom:1rem;
    padding: 0.5rem 0;
    border-radius: 8px;
    text-align: left;
    padding-left: 1rem;

}
.cat-item-1, .cat-item-3, .cat-item-5, .cat-item-7 {
	background-color: #184183;
}

.cat-item-1:before, .cat-item-3:before, .cat-item-5:before, .cat-item-7:before{
color:#184183;
}
.cat-item-2, .cat-item-4, .cat-item-6, .cat-item-8 {
	background-color: #2E8FCE;
}
.cat-item-2:before, .cat-item-4:before, .cat-item-6:before, .cat-item-8:before{
color:#2E8FCE;
}

.cat-item a{
color:#fff;
text-transform:uppercase;
}
.cat-item a:hover{
color:#fff;

}
.form-sidebar h2{
color: #184183;
font-weight:700;
font-size:1.2rem;
padding:20px 10px 10px;
}
.form-sidebar {
border-radius:8px 8px 0 0;
}

.form-sidebar .form-row{
	padding:0 0.6rem;
}

.form-sidebar .btn-news {
width:100%;
}

.single-blog h2, .single-blog h3, .single-blog h4, .single-blog h5{
font-weight:700;
color:#707070;;
}
.single-blog {
	position:relative;
	top:-50px;
background-color:#fff;
padding:2rem;
box-shadow: 6px 6px 46px #00000029;
border-radius: 18px;
}

.share-links strong {
font-size:0.8rem;
}

.share-links a{
	font-size:2rem;
	margin:5px;
	color:#184183;
}

.img-off-box{
	width: 45%;
    position: absolute;
    left: -50px;
    top: 30px;
    object-fit: cover;
    height: 80%;
}

/**** PAGE BLOG SINGLE POST ENDS ************/

/************ CONTATOS - SOBRE ************/

.page-trabalhe h2 {
color:#707070
}

.default-page h2 {
margin-bottom:4rem;
color:#707070;
}

.default-page .btn-fale {
border:none;
padding:0.4rem 0;
}
.gray{
color:#707070;
}
.default-page
span.wpcf7-not-valid-tip {
    color:red!important;
	margin-top: 4px;
}


 .heading [data-toggle="collapse"]:before {
      font-family: "Font Awesome 5 Free"; font-weight: 900;     content: "\f077";
margin-left:20px;
	margin-right:30px;
        color: #fff;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
    }

    .heading [data-toggle="collapse"].collapsed:before {
      font-family: "Font Awesome 5 Free"; font-weight: 900;
    
			content: "\f078";
			/* 
                           * "play" icon */

    }

.heading {
background: #184183;
border: 1px solid #707070;
border-radius: 18px 18px 0px 0px;
padding:1rem 0;

}
.heading button {
color:#fff;
font-size:1.1rem;
width:100%;
text-align:left;
text-transform:uppercase;
}

.heading button:hover{
color:#fff
}
.heading {
margin:10px 0;
}
.card-body {
background-color: #F3F3F3;
border-radius: 0px 0px 18px 18px;
margin-bottom:20px;
margin-top:-10px;
}

.box-check {
box-shadow: 0px 4px 8px #00000029;
background-color:#fff;
margin:1.5rem 0;
border-radius:8px;
}
.box-check p {
padding:1rem;
text-transform:uppercase;
}
.box-check i {
background-color:#184183;
padding:0.4rem;
color:#fff;
border-radius:100%;
}



.box-counts .separators:after {
    content: '';
    height: 35px;
    width: 2px;
    background: rgba(0,0,0,.3);
    position: absolute;
    right: 0px;
    top: 28px;
	display: block;}

.box-counts .separators.last:after {
	display:none;
}

.box-counts {
background-color: #FFFFFF;
box-shadow: 0px 3px 6px #00000029;
border-radius: 18px;
	padding:2rem;}
	
.box-counts .separators {
text-align:center;
}
.box-counts .separators h3{
font-size:4rem;
color:#184183;

}

.box-counts .separators h5{
font-size:0.9rem;
}

.py-6 {
padding:5rem 0;
}

.bg-gray-linear-sobre{
	background: linear-gradient(to top, #fff 0%, #fff 80px, #E9E9E9 78px, #E9E9E9 80px);}

.box-legenda {
position:absolute;
max-width:100%;
top:38%;
right:2%;
box-shadow: 0px 3px 6px #00000029;
border-radius: 18px;
background-color:#fff;
padding-bottom:1rem
}

.box-legenda h3 {
font-size:1rem;
letter-spacing: 3.8px;
padding:0.6rem;
background-color:#E7E7E7;
color:#184183;
border-radius:18px 18px 0 0;
}
.box-legenda ul {
list-style:none;
padding-left:1rem;
}
.box-legenda li {
text-transform:uppercase;
font-size:0.9rem;
}
.box-legenda img {
width:28px;
margin:5px 10px 0 0;
padding-bottom:5px;
}

/************ CONTATOS - SOBRE ENDS ************/
/*********** AJUSTES **********************/
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
	border-color:#ced4da!important
}

.btn.btn-link {
border:1px solid transparent!important;
}

.page-trabalhe h2 {
margin-bottom:30px;
}
.bt-blue a:hover, .bt-yellow a:hover, 
.btn-conhecer:hover{
text-decoration:none!important;
color:#184183;
}
.container-img.no-radius {
border-radius:0!important;
}
.related.emp img{

border-radius:0;
}
.related.emp {
	border:none;
	padding-bottom:0;
}
.heading:hover {
background:#00366A;
}

.b-radius-18 {
border-radius:18px;
}
.img-off-box {
background-color:#000;
}

.img-off-box img{
	width: 100%;
    position: absolute;
    left:0;
    top:0;
    object-fit: cover;
    height: 100%;
}

.img-off-box a:hover img {
opacity:0.4;
}

.img-off-box .lupa {
position:absolute;
top:45%;
left:45%;
z-index:99;
font-size:2.5rem;
color:white;
display:none
}
.img-off-box a:hover .lupa{
display:block
}

.gallery img {
	object-fit:cover;
	height:380px;
}
.b-18 {
border-radius:18px!important;
}

.navbar-nav .dropdown-menu {
    text-align: center;
	    left: -135px;
}
#search-input {
    background-image: url(/wp-content/uploads/2020/07/search-icon.png);
    background-position: 5px center;
    background-repeat: no-repeat;
    padding: 10px 5px;
    text-indent: 30px;
}

#chat-eva {
position:fixed;
bottom:12%;
right:1%;
cursor:pointer;
z-index:99999!important;

}
.bt-yellow:hover a {
color:#00366A;
}

#chat-eva img {
width:130px;
}
.modal-body .close span{
margin:10px;
font-size:3rem!important;
color:#fff; 
text-shadow:none!important;

}
.btns {
border:none;
}

.modal-body.tour {
	background-color:#4473c5;
text-align:center;
padding:1.4rem 0!important;
}
.modal-body.tour a {
display:block;
background-color:#eb7e31;
width:60%;
margin:20px auto;
padding:0.5rem 0;
color:#fff;
font-size:1.2rem;
	
}
.box-check p {
font-size:0.9rem
}

.thks-page h1{
text-align:center;
color:#707070;
}
.box-email {
padding:2rem 1rem;
background: #F8F8F8;
box-shadow: 0px 3px 6px #00000029;width:100%;
border-radius: 18px;
}
.box-email p{
color:#707070;
}
.box-email i {
font-size:2.5rem;
color:#184183;
}
.box-email h4{
font-size:1.1rem;
font-weight:700;
color:#184183;
}

.thks-page .content-tks {
padding:0
}
footer .custom-logo{
	max-width:100%!important;
}
.default-page div.wpcf7-response-output {
    color:#707070!important;
    border:none!important;
	    padding: 0;
    margin-top: -10px;
}
/************* AJUSTES ENDS ***********/


/************ MEDIA QUERYS STARTS *************/

@media only screen and (max-width:768px){
	.bg-tour360 .container {
padding-top:12%;
}
	.bg-tour360 {
	height:500px;
	background-position:76%
	}
	
.bg-tour360 h3{
font-size:1.5rem;
}
.mt-10 {
    margin-top:15%!important;
    }
	.navbar {
	padding:0 15px!important;
	}
	.sobre .pl-5 {
	padding-left:15px!important;
	}
	.single-blog {
	top:-25px;
	}
.fixed-bottom {
position:relative!important;
bottom:0!important;
}
	footer {
margin-bottom:0;
} 
    	.box-legenda {
	position:relative;
	top:0;
	right:inherit;
	}
.hide-desk{
display:block;
}
.nav-admin{
background:#2E8FCE!important;
padding-bottom:1rem;
}
.nav-admin .ligue span, .nav-admin .ligue small{
color:#fff;
}
.box-form {
	bottom:20px;
	text-align:center;
	padding-top:1rem;
margin:auto 0!important;
box-shadow: 0px 3px 6px #00000029;
	}
	#bannerHome .carousel-control-next, 	#bannerHome  .carousel-control-prev {
    height: 53%;
	}
	.box-form .col-md-2 {
	display:none;
	}
.container-img .status .h-show {
     display: inline-block;
}
	.banner-empreendimento h1, .banner-single-empreendimento h1 {
	font-size:2rem!important;
	}
.banner-empreendimento, .banner-single-empreendimento {
    height: 300px;
    background-size: cover;
    background-position: center;
	}	

.box-counts .separators:after {
	display:none;}
	
	.main-blog {
	margin-top:120px!important;
	}
	.main-blog .ml-5 {
	margin-left:0!important;
	}
	
	.blog-row {
	margin-top:20px;
		margin-right:15px;
		margin-left:15px;
	}
	.box-blog-page h4{
	font-size:1rem;
	}
	.box-blog-page {
	padding:0!important;
	}
	.box-blog-page .mx-5 {
	margin-left:15px!important;
	margin-right:15px!important
	}	
	.sobre .pr-0{
	padding-right:15px!important
	}    
    .box-depo {
height:490px;
}
	.nav-int {
	width:90%;
	text-align:center;
	}
	.nav-int button {
	color:#fff;
	margin-top:10px;
	font-size:1.2rem;
	}
	.nav-int button i {
	margin-left:10px;
	}
	.nav-int button span {
	position:relative;
	top:-2px
	}
	.tab-nav .nav-link{
bottom:0;
margin:10px;
height:50px;
padding-top:15px;
border-radius:18px 18px 0 0!important;
}
	

.tab-nav .nav-link:hover ,.tab-nav .nav-link.active {
height:inherit;
position: relative;
bottom:0;
height:50px;
padding-top:15px;
}
.img-off-box{
	width: 100%;
		border-radius:18px 18px 0;''
    position:relative;
    left:0;
    top:0;
   height:300px;
}	
	.img-off-box img {
	border-radius:18px 18px 0;

	}
	.box-content-feed {
	margin-top:50%;
	}
	
		.box-form-blog {
bottom:0px;
	}	
.main-blog {
	margin-top:235px!important;
	}
	.single-blog h2 {
	font-size:1.5rem;
	width:100%!important;
	}
	
	.search-result {
	margin-top: 230px!important;
	}
	.box-empreendimento {
	margin:0 1rem;
	}
}

/**** CELULAR ******/

@media only screen and (max-width:425px){
    .navbar-brand{
    max-width: 75%;
    }
	.m-10-mob{
   padding-top:300px
}
.bg-tour360 .container {
padding-top:20%;
}
    .mt-10 {
    margin-top:30%!important;
    }
.box-depo {
padding:0 2rem!important;
    }
    
.box-empreendimento img {
padding:0!important;
}
    #bannerHome .carousel-control-next, 	#bannerHome  .carousel-control-prev {
    height: 53%;
height: 26.8%;
	}

	.checkbox-loc {
	margin-right:1.25rem;
	}
.box-depo {
height:630px;
}	

		.box-content-feed {
	margin-top:90%;
	}
	.box-blog-page{
	width:345px;
	margin:0 auto 30px auto;;
	
	}
	#bannerHome img {
	object-fit:cover;
	height:185px
	}
	.thks-page .content-tks {
padding:15px;
}	
}
/************ MEDIA QUERYS ENDS *************/
